.is-header{
	.shoppingcart{
		margin: 0;
		padding: 0;
		text-align: center;
		margin-right: 10px;
		position: relative;
		i{
			line-height: 27px;
		    font-size: 27px;
		    color: #fff;
		    display: inline-block;
		    margin-top: 3px;
		}
		.count{
			position: absolute;
			display: block;
			min-width: 15px;
			height: 15px;
			background: #3fe9d3;
			border-radius: 50%;
			color: #fff;
			font-size: 10px;
			line-height: 15px;
			top: 2px;
    		right: -8px;
		}	
	}

	.wishlist{
		margin: 0;
		padding: 0;
		text-align: center;
		margin-right: 5px;
		position: relative;
		i{
			line-height: 27px;
		    font-size: 27px;
		    color: #fff;
		    display: inline-block;
		    margin-top: 3px;
		}
		.count{
			position: absolute;
			display: block;
			min-width: 15px;
			height: 15px;
			background: #3fe9d3;
			border-radius: 50%;
			color: #fff;
			font-size: 10px;
			line-height: 15px;
			top: 2px;
    		right: -2px;
		}	
	}
	.search{
		margin-right: 5px;
		text-align: center;
		width: 40px;
		i{
			line-height: 27px;
		    font-size: 27px;
		    color: #fff;
		    display: inline-block;
		    margin-top: 3px;
		}

	}

	.bar-stable .button.button-clear{
		color: #fff;
	}
}
