.account-page{
	h1.title{
		text-transform: uppercase;
		margin: 20px 0;
		font-size: 16px;
		text-align: center;
		font-weight: 700;
	}
	.bar-footer{
		padding: 0;
		bottom: 35px;
		.button{
			width: 70%;
			font-size: 15px;
			text-transform: uppercase;
		}
	}

	ion-content{
		.item-input{
			input,
			select{
				text-align: right;
			}
		}
	}

	.tab-title{
		font-weight: 700;
		text-transform: uppercase;
	}

	.password-change{
		input{
			text-align: left!important;
		}
	}
	
	.tab-detail, .tab-billing, .tab-shipping{
		.item-input{
			display: block;
			.inner{
				display: -webkit-box;
			    display: -webkit-flex;
			    display: -moz-box;
			    display: -moz-flex;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-align: center;
			    -ms-flex-align: center;
			    -webkit-align-items: center;
			    -moz-align-items: center;
			    align-items: center;
			    position: relative;
			    overflow: hidden;
			}
			.invalid-required{
				display: block;
				color: #a94442;
				font-size: 0.8em;
			}
		}
	}
}

